.header{
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, #2E8B57, #00FA9A);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
  .wrap{
    justify-content: space-between;
    .logo-box{
      color: #ffffff;
      margin: 20px 0;
      .logo{
        font-size: 24px;
        color: Blue;
        &__shop{
          color: #ffffff;

        }
      }
    }
    .menu{
      display: flex;
      &__item{
        color: #fff;
        margin-right: 20px;
        text-transform: uppercase;
        cursor: pointer;
        &_active{
          color: #000;

        }
      }
    }
  }
}
