.footer{
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  background: linear-gradient(to top left, #2E8B57, #00FA9A);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
  .wrap{
    justify-content: center;
  }
    &__copyright{
      margin: 15px 0;
      color: #fff;
    }

}
